################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CaseInfo/FileContentIndex
/.vs/CaseInfo/v18
